<h1 class='headline'><%= @pitch.headline %></h1>
<h4 class='story_url'><%= link_to 'New York Times Article', @pitch.story_url %></h4>
<p class='abstract body'>
  <strong>Summary:</strong><br>
  <%= @pitch.abstract %><br><br>
  <% if @pitch.body %>
    <strong><%= @pitch.user.screen_name %>'s Pitch:</strong><br>
    <%= @pitch.body %>
  <% end %>
</p>
<p class='votes'>
  <div class='ups'>
    <%= pluralize @pitch.ups, 'Like' %>
  </div>
  <div class='downs'>
    <%= pluralize @pitch.downs, 'Dislike' %>
  </div>
</p>
<div class='comments'>
  <h4>Comments</h4>
  <%= render partial: 'comment_form' %>
  <%= render partial: 'comments' %>
</div>
